name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  lint:
    uses: XXXDESHXXX/infra-pipelines/.github/workflows/lint-go.yaml@main
    with:
      go-version: '1.24.3'

  build:
    uses: XXXDESHXXX/infra-pipelines/.github/workflows/build-go.yaml@main
    needs: lint
    with:
      go-version: '1.24.3'
