name: CI

on:
  push:
    branches: [main]

jobs:
  build:
    uses: XXXDESHXXX/infra-pipelines/.github/workflows/build-go.yaml@main
    with:
      go-version: '1.24'

  lint:
    uses: XXXDESHXXX/infra-pipelines/.github/workflows/lint-go.yaml@main
    with:
      go-version: '1.24'