name: CI

on:
  push:
    branches: [main]

jobs:
  build:
    uses: XXXDESHXXX/infra-pipelines/.github/workflows/go/build.yaml@main
    with:
      go-version: '1.24'

  lint:
    uses: XXXDESHXXX/infra-pipelines/.github/workflows/go/lint.yaml@main
    with:
      go-version: '1.24'