name: Security Check

on:
  pull_request:
    branches: [master]
  workflow_dispatch:
  schedule:
    - cron: '0 21 * * 6' # Saturday 21:00 (UTC)

permissions:
  contents: read
  security-events: write

jobs:
  sast-gosec:
    uses: XXXDESHXXX/infra-pipelines/.github/workflows/gosec.yaml@main
    with:
      go-version: '1.24.3'

  sast-semgrep:
    uses: XXXDESHXXX/infra-pipelines/.github/workflows/semgrep.yaml@main

